<script>
// This component currently does virtually nothing, but is kept here
// for legacy purposes and to provide an option to style the
// accordion_item parent element in the future

export default {
  name: 'GlAccordion',
};
</script>

<template>
  <div>
    <slot></slot>
  </div>
</template>
