<template>
  <gl-banner
    title="Auto DevOps (Beta)"
    button-text="Enable in settings"
    button-link="https://gitlab.com"
    svg-path="https://gitlab.com/gitlab-org/gitlab-svgs/raw/v1.152.0/illustrations/cluster_popover.svg"
    variant="introduction"
  >
    <p>
      Auto DevOps can be enabled for this project. It will automatically build, test, and deploy
      your application based on a predefined CI/CD configuration.
    </p>
    <p>Learn more in the Auto DevOps documentation</p>
  </gl-banner>
</template>
